{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h3>Features</h3>

    <ul>
        <li>Admin account that adds, removes user and assigns roles</li>
        <li>AJAX feature</li>
    </ul>
{% endblock %}
