{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h3>Features</h3>

    <ul>
        <li>Admin account that adds, removes user and assigns roles
            <ul>
                <li>Creating a role is straight forward</li>
                <li>To add role, we have to add a user to the role entity. With the video we do this in the join table. We have to do this from one of two side this time. Role is ready to do it, but really we want a checkbox list.</li>
            </ul>
        </li>
        <li>ADd form feedback</li>
        <li>AJAX works, build something with it</li>
        <li>Get prod area working</li>
        <li>Testing!</li>
    </ul>
{% endblock %}
