{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h3>Security testing</h3>

    {% if is_granted('ROLE_ADMIN') %}
        <p>You are a role admin</p>
    {% endif %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <p>Username: {{ app.user.username }}</p>
    {% endif %}


    {{ dump(app.request.server.get('DOCUMENT_ROOT')) }}

    {#IS_AUTHENTICATED_REMEMBERED: All logged in users have this, even if they are logged in because of a "remember me cookie". Even if you don't use the remember me functionality, you can use this to check if the user is logged in.#}
    {#IS_AUTHENTICATED_FULLY: This is similar to IS_AUTHENTICATED_REMEMBERED, but stronger. Users who are logged in only because of a "remember me cookie" will have IS_AUTHENTICATED_REMEMBERED but will not have IS_AUTHENTICATED_FULLY.#}
    {#IS_AUTHENTICATED_ANONYMOUSLY: All users (even anonymous ones) have this - this is useful when whitelisting URLs to guarantee access - some details are in How Does the Security access_control Work?.#}

{% endblock %}
